.essay{
    margin-bottom: 20px;
    border-radius: 10px;

}

.essay-container{
    margin-bottom: 10px;

    h1,h4{
        font-weight: 600;
    }

    h1,.time{
        text-align: center;
        margin-bottom: 0em;
    }

    .time{
        i{
            color: #65c7f5;
            font-weight: 600;
            font-size: 21px;
        }
    }

    h4{
        font-size: 1.2em;
        color: #888;
    }

    .essay-content{
        height: 300px;
        overflow-y: hidden;
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 10px;
    }

    
}